header {
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 768px) {
  header {
    justify-content: space-between;
  }
}
header .blocklogo {
  position: relative;
  width: 100px;
  height: 60px;
  z-index: 9999;
}
header .blocklogo .ellipseLogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 6px;
}
header .blocklogo .resourceLogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 12.56px;
}
header .blocklogo .textLogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 46.1px;
  min-width: max-content;
  font-size: 8.6px;
}
header .adaptivMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: none;
  transition: transform 0.5s ease;
}
@media (max-width: 768px) {
  header .adaptivMenu {
    min-height: max-content;
    position: absolute;
    top: 0px;
    left: 0;
    transform: translateX(100%);
    transition: transform 1s;
    height: 100vh;
    z-index: 999;
    flex-direction: column;
    background-color: rgb(225, 212, 201);
  }
}
@media (max-width: 768px) {
  header .adaptivMenu.menuAdaptivActive {
    transform: translateX(0%);
  }
}
header .navHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  width: 100%;
  max-width: 1188px;
  margin-left: 7px;
}
@media (max-width: 768px) {
  header .navHeader {
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
  }
}
header .navHeader .linkHeader {
  color: rgb(64, 63, 61);
  font-family: "Inter";
  font-size: 1em;
  font-weight: 600;
  line-height: 24px;
  padding-top: 6px;
}
@media (max-width: 768px) {
  header .navHeader .linkHeader {
    font-size: 2rem;
    font-weight: 600;
    line-height: 20px;
  }
}
header nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  position: relative;
  cursor: pointer;
  line-height: 1;
}
@media (max-width: 768px) {
  header nav a {
    margin: 0 auto;
    margin-bottom: 22px;
  }
}
@media (max-width: 380px) {
  header .cupCoffee {
    display: block;
  }
}
header .rightLinkHeader:hover + .cupCoffee {
  display: block;
  top: 5px;
}
header .rightLinkHeader {
  width: 72px;
  height: 28px;
  position: relative;
}
@media (max-width: 768px) {
  header .rightLinkHeader {
    margin-top: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 148px;
  }
}
header .rightLinkHeader .linkMenu {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: rgb(64, 63, 61);
}
@media (max-width: 768px) {
  header .rightLinkHeader .linkMenu {
    font-size: 2rem;
  }
}
header .rightLinkHeader .cupCoffee {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
}
@media (max-width: 768px) {
  header .rightLinkHeader .cupCoffee {
    opacity: 1;
    position: static;
    width: 40px;
    margin-left: 15px;
  }
}
header .rightLinkHeader:hover .cupCoffee {
  opacity: 1;
}
header .burgerButton {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: solid 1px rgb(102, 95, 85);
  position: relative;
  z-index: 999;
  display: none;
}
header .burgerButton:before, header .burgerButton:after {
  transition: transform 1s;
  content: "";
  position: absolute;
  width: 16px;
  height: 1.5px;
  background-color: rgb(64, 63, 61);
  border-radius: 5px;
  transform-origin: left;
}
header .burgerButton:before {
  transform: rotate(0deg);
  top: 37%;
  left: 35%;
}
header .burgerButton:after {
  transform: rotate(0deg);
  top: 60%;
  left: 35%;
}
@media (max-width: 768px) {
  header .burgerButton {
    display: block;
  }
}
header .burgerButtonActive {
  display: none;
}
@media (max-width: 768px) {
  header .burgerButtonActive {
    display: block;
  }
}
header .burgerButtonActive:before, header .burgerButtonActive:after {
  transition: transform 1s;
  transform-origin: left;
}
header .burgerButtonActive:before {
  transform: rotate(40deg);
}
header .burgerButtonActive:after {
  transform: rotate(-40deg);
}

.Enjoy {
  width: 100%;
  max-width: 1360px;
  margin-top: 17px;
  border-radius: 40px;
  padding-top: 56px;
  padding-bottom: 100px;
  overflow: hidden;
  position: relative;
}

.Enjoy video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offerBlock {
  z-index: 3;
  width: 90%;
  height: auto;
  margin-left: 7.3%;
  position: relative;
}

.offerBlock h1 {
  font-size: 4.5em;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
}

.offerBlock .underText {
  margin-top: -9px;
  font-size: 1em;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.offerBlock h1,
.offerBlock .underText {
  color: rgb(225, 212, 201);
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  background-color: rgb(225, 212, 201);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 7.3%;
  position: relative;
  margin-top: 40px;
}

.menuButton a {
  color: rgb(64, 63, 61);
}

.menuButton .coffeeIconEnjoy {
  position: absolute;
  right: 64px;
  opacity: 0;
}

.menuButton:hover .coffeeIconEnjoy {
  display: block;
  opacity: 1;
}

@media (max-width: 768px) {
  .Enjoy {
    margin-top: 19px;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0px;
  }
  .offerBlock {
    width: 90%;
    margin-left: 9%;
  }
  .offerBlock h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .menuButton {
    margin-left: 8.8%;
    margin-top: 5.5%;
  }
}
@media (max-width: 380px) {
  .Enjoy {
    background-size: 300% 100%;
    padding-bottom: 17.1%;
    padding-top: 33px;
  }
  .offerBlock {
    margin-left: 4.6%;
  }
  .offerBlock h1 {
    font-size: 2.62em;
    line-height: 48.3px;
  }
  .offerBlock .underText {
    margin-top: 39.3px;
    word-spacing: -0.3px;
  }
  .menuButton {
    margin-left: 4.6%;
    margin-top: 11.5%;
  }
  .menuButton .coffeeIconEnjoy {
    display: block;
    opacity: 1;
  }
  .menuButton a {
    margin-left: -28px;
  }
}
.FavouritesCoffee {
  width: 100%;
  position: relative;
  margin-top: 102.5px;
  height: auto;
}
@media (max-width: 768px) {
  .FavouritesCoffee {
    margin-top: 100px;
  }
}
.FavouritesCoffee h2 {
  font-size: 3.75em;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(64, 63, 61);
}
.FavouritesCoffee h2 .favorite-word {
  font-style: italic;
  color: rgb(176, 144, 122);
}
@media (max-width: 768px) {
  .FavouritesCoffee h2 {
    font-size: 2em;
    line-height: 40px;
    margin: 0;
  }
}
.FavouritesCoffee .rowSliderCoffee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -11px;
  padding: 0 4px 0 4px;
  position: relative;
  touch-action: pan-y;
}
@media (max-width: 768px) {
  .FavouritesCoffee .rowSliderCoffee {
    padding: 0px;
  }
}
.FavouritesCoffee .rowSliderCoffee .arrow {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid rgb(102, 95, 85);
  display: flex;
  justify-content: center;
  align-items: center;
}
.FavouritesCoffee .rowSliderCoffee .arrow svg {
  fill: rgb(64, 63, 61);
  stroke: rgb(64, 63, 61);
}
@media (max-width: 768px) {
  .FavouritesCoffee .rowSliderCoffee .arrow {
    display: none;
  }
}
.FavouritesCoffee .rowSliderCoffee .arrow:hover {
  background-color: rgb(102, 95, 85);
}
.FavouritesCoffee .rowSliderCoffee .arrow:hover svg {
  fill: rgb(225, 212, 201);
  stroke: rgb(225, 212, 201);
}
.FavouritesCoffee .rowSliderCoffee .sliders {
  position: relative;
  min-height: max-content;
  width: 100%;
  max-width: 870px;
  overflow: hidden;
}
@media (max-width: 1100px) {
  .FavouritesCoffee .rowSliderCoffee .sliders {
    max-width: 600px;
  }
}
.FavouritesCoffee .rowSliderCoffee .carousel {
  display: flex;
  white-space: nowrap;
  transition: all 0.4s ease;
  will-change: transform;
  touch-action: none;
  user-select: none;
}
.FavouritesCoffee .rowSliderCoffee .slider {
  flex: 0 0 100%;
  margin-left: 0;
  width: 100%;
  max-width: 870px;
  height: auto;
}
.FavouritesCoffee .rowSliderCoffee .slider img {
  width: 100%;
  display: block;
  margin: 25px auto;
}
@media (max-width: 768px) {
  .FavouritesCoffee .rowSliderCoffee .slider img {
    max-width: 250px;
    min-height: 250px;
  }
}
.FavouritesCoffee .rowSliderCoffee .slider h5 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 16.9px;
}
@media (max-width: 380px) {
  .FavouritesCoffee .rowSliderCoffee .slider h5 {
    margin-top: 15.9px;
  }
}
.FavouritesCoffee .rowSliderCoffee .slider .describeCoffee {
  margin-top: -23.9px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.FavouritesCoffee .rowSliderCoffee .slider .price {
  margin: 0px;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.FavouritesCoffee .indicator {
  margin: 40px auto;
  width: 144px;
  display: flex;
  justify-content: space-between;
}
.FavouritesCoffee .indicator .line {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: rgb(193, 182, 173);
}
.FavouritesCoffee .indicator .lineActive {
  position: relative;
  width: 40px;
  height: 4px;
}
.FavouritesCoffee .indicator .lineActive::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(193, 182, 173);
  animation: fill 5s ease-in-out forwards;
}
@keyframes fill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    background-color: rgb(102, 95, 85);
  }
}

.active {
  background-color: rgb(102, 95, 85);
}

.textPlaceResource {
  font-size: 3.75em;
  font-weight: 600;
  line-height: 75px;
  text-align: left;
  margin-top: 100px;
  word-spacing: -0.1px;
}

.thePerfectWords {
  font-style: italic;
  color: rgb(176, 144, 122);
}

.imagesResources {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 40px;
  margin-top: -20px;
}

.imgBig {
  max-width: 660px;
  height: 590px;
  border-radius: 20px;
}

.imgSmall {
  max-width: 660px;
  height: 430px;
}

.aboutOne,
.aboutTwo,
.aboutThree,
.aboutFour {
  border-radius: 20px;
}
.aboutOne.aboutOne, .aboutOne.aboutThree,
.aboutTwo.aboutOne,
.aboutTwo.aboutThree,
.aboutThree.aboutOne,
.aboutThree.aboutThree,
.aboutFour.aboutOne,
.aboutFour.aboutThree {
  margin-bottom: 37px;
}
.aboutOne img,
.aboutTwo img,
.aboutThree img,
.aboutFour img {
  border-radius: 20px;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@media (min-width: 381px) {
  .aboutOne:hover img,
  .aboutTwo:hover img,
  .aboutThree:hover img,
  .aboutFour:hover img {
    width: calc(100% + 5px);
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(1.04);
  }
}
@media (max-width: 768px) {
  .textPlaceResource {
    font-size: 2em;
    line-height: 40px;
    margin-bottom: 59.5px;
  }
  .imgBig {
    width: 100%;
  }
  .imgSmall {
    display: none;
  }
  img {
    margin-top: -4px;
    width: 97.9%;
    height: 102%;
  }
}
@media (max-width: 380px) {
  .imgBig {
    width: 100%;
  }
  img {
    margin-top: -14px;
    margin-left: -151px;
    width: 186.9%;
    height: 107%;
    transform: none;
  }
}
.MobileApp {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 93px;
  position: relative;
}
@media (max-width: 768px) {
  .MobileApp {
    width: 100%;
    margin-top: 11.9px;
    display: inline-block;
  }
}
.MobileApp .blockDownload {
  margin-top: 83.9px;
}
.MobileApp h3 {
  font-family: Inter;
  font-size: 3.75em;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 380px) {
  .MobileApp h3 {
    font-size: 2em;
    line-height: 40px;
    margin-bottom: 60px;
  }
}
.MobileApp h3 .downloadWord {
  font-style: italic;
  color: rgb(176, 144, 122);
}
.MobileApp .aboutApp {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -20px;
}
@media (max-width: 380px) {
  .MobileApp .aboutApp {
    text-align: left;
    margin-top: -17px;
  }
}
.MobileApp .blockLinksApp {
  display: flex;
  margin-top: 40px;
}
@media (max-width: 380px) {
  .MobileApp .blockLinksApp {
    display: inline-block;
    margin-top: 23px;
  }
}
.MobileApp .blockLinksApp .linkApp {
  display: flex;
  width: 200px;
  height: 64px;
  padding: 12px, 20px, 12px, 20px;
  border-radius: 100px;
  border: 1px;
  gap: 8px;
  margin-right: 20px;
  border: 1px solid rgb(102, 95, 85);
  background-color: rgb(225, 212, 201);
}
@media (max-width: 380px) {
  .MobileApp .blockLinksApp .linkApp {
    height: 60px;
    margin-bottom: 21px;
  }
}
.MobileApp .blockLinksApp .linkApp .linkText {
  margin-left: 4px;
  padding-top: 1px;
  position: relative;
}
.MobileApp .blockLinksApp .linkApp .linkText .available {
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: -3px;
  left: 6px;
  white-space: nowrap;
}
.MobileApp .blockLinksApp .linkApp .linkText .store {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -8px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  left: 6px;
}
.MobileApp .blockLinksApp .linkApp .linkTextAndroid {
  margin-left: -1px;
}
.MobileApp .blockLinksApp .linkApp .iconApple {
  width: 27.41px;
  height: 32.65px;
  margin: 13.5px 0px 0px 17.9px;
}
.MobileApp .blockLinksApp .linkApp .iconPlayMarket {
  width: 36px;
  height: 36px;
  margin: 13px 0px 0px 14px;
}
@media (min-width: 381px) {
  .MobileApp .blockLinksApp .linkApp:hover {
    background-color: rgb(102, 95, 85);
  }
  .MobileApp .blockLinksApp .linkApp:hover svg {
    fill: rgb(225, 212, 201);
    stroke: rgb(225, 212, 201);
    transition: 0.01s;
  }
  .MobileApp .blockLinksApp .linkApp:hover .store,
  .MobileApp .blockLinksApp .linkApp:hover .available {
    color: rgb(225, 212, 201);
  }
}
@media (max-width: 768px) {
  .MobileApp .blockImgMobiles {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 82px;
  }
  .MobileApp .blockImgMobiles .imgMobiles {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 104px;
    width: 90.5%;
  }
}
@media (max-width: 380px) {
  .MobileApp .blockImgMobiles {
    margin-top: 11px;
  }
  .MobileApp .blockImgMobiles .imgMobiles {
    margin-top: 24.7px;
    width: 98.9%;
  }
}

footer {
  margin: 96px auto;
  display: flex;
  height: auto;
  padding: 100px;
  border-radius: 40px;
  gap: 99.5px;
  background-color: rgb(102, 95, 85);
}
@media (max-width: 768px) {
  footer {
    display: block;
    max-width: 82.5%;
    margin-top: 104px;
    padding: 60px;
  }
}
@media (max-width: 380px) {
  footer {
    padding: 0px;
    margin-top: 100px;
    padding-top: 39.5px;
    padding-bottom: 36px;
    min-width: 100%;
  }
}
@media (max-width: 380px) {
  footer .blockleft {
    padding-left: 16px;
  }
}
footer .blockleft h4 {
  margin: 0px;
  font-size: 3.75em;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(225, 212, 201);
}
@media (max-width: 768px) {
  footer .blockleft h4 {
    margin-top: 7%;
  }
}
@media (max-width: 380px) {
  footer .blockleft h4 {
    font-size: 2em;
    line-height: 40px;
  }
}
footer .blockleft h4 .coffeeTimeWord {
  font-style: italic;
  color: rgb(176, 144, 122);
  margin-left: -6px;
}
footer .blockleft .blockIconsSocial {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}
footer .blockleft .blockIconsSocial .wrappericon {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid rgb(193, 182, 173);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .blockleft .blockIconsSocial .wrappericon svg {
  width: 24px;
  height: 24px;
}
@media (min-width: 381px) {
  footer .blockleft .blockIconsSocial .wrappericon:hover {
    background-color: rgb(225, 212, 201);
    cursor: pointer;
  }
  footer .blockleft .blockIconsSocial .wrappericon:hover .iconSocMedia {
    stroke: rgb(64, 63, 61);
  }
}
footer .blockRight {
  padding: 34px 0 0 37px;
}
@media (max-width: 768px) {
  footer .blockRight {
    margin: 17.6% 0 8% 0;
    padding-left: 0;
    padding-top: 0;
  }
}
@media (max-width: 380px) {
  footer .blockRight {
    margin-top: 11.1%;
    padding-left: 16px;
  }
}
footer .blockRight .h5 {
  margin: 0px;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(225, 212, 201);
  margin-top: 32px;
}
footer .blockRight .informAndContact {
  position: relative;
  display: flex;
  gap: 7px;
  padding-top: 39px;
  cursor: pointer;
  line-height: 1;
}
footer .blockRight .informAndContact .textContact {
  margin: 0px;
  margin-left: 3px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(225, 212, 201);
  content: "";
  transition: width 0.3s ease-out;
}
footer .blockRight .informAndContact .textContact:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(225, 212, 201);
  content: "";
  transition: width 0.3s ease-out;
}
@media (min-width: 381px) {
  footer .blockRight .informAndContact .textContact:hover:after,
  footer .blockRight .informAndContact .textContact:focus:after {
    width: 70%;
  }
}
footer .blockRight .informAndContact .schedule {
  margin-left: 0px;
}
@media (min-width: 381px) {
  footer .blockRight .informAndContact .schedule:hover:after,
  footer .blockRight .informAndContact .schedule:focus:after {
    width: 105%;
  }
}
footer .blockRight .informAndContactFirst,
footer .blockRight .informAndContactLast {
  padding-top: 20px;
}
footer .blockRight .iconContact {
  width: 30px;
}

html {
  overflow-x: hidden;
  font-size: 1rem;
}

* {
  font-family: "Inter";
  text-decoration: none;
  color: rgb(64, 63, 61);
  scroll-behavior: smooth;
  transition: 0.4s;
}

a:hover {
  cursor: pointer;
}

body {
  width: 100%;
  background-color: rgb(225, 212, 201);
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 20px 0px 40px 0px;
  max-width: 1360px;
  width: 100%;
  height: auto;
  position: relative;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 688px;
  }
}
@media (max-width: 380px) {
  .container {
    width: 100%;
    max-width: 348px;
  }
}

@media (max-width: 768px) {
  .brDesktop {
    display: none;
  }
}

.brTablet {
  display: none;
}
@media (max-width: 768px) {
  .brTablet {
    display: block;
  }
}
@media (max-width: 380px) {
  .brTablet {
    display: none;
  }
}

.brMob {
  display: none;
}
@media (max-width: 380px) {
  .brMob {
    display: block;
  }
}

@media (max-width: 380px) {
  .brDesktopTablet {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
